body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}

nav a {
  /* display: flex; */
  margin: 40px;
  text-decoration: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  position: relative;
}

nav a nav span {
  font-size: 1.5rem;
}

.tooltip {
  position: absolute;
  bottom: calc(100% + 15px);
  left: -50px;
  background: #333;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
}

/* Arrow */
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  transform: skew(12px);
}

nav a:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
